
body{
    background-color: #35281C;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.grey-background{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: rgb(52,52,49);
    background: linear-gradient(90deg, rgba(52,52,49,1) 0%, rgba(92,91,87,1) 20%);
    text-align: center;
    align-content: center;
}

.second-grey-background{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: rgb(52,52,49);
    background: linear-gradient(180deg, rgba(52,52,49,1) 0%, rgba(92,91,87,1) 20%);
    text-align: center;
    align-content: center;
}

.light-background{
    background-color: #EDE6DE;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    align-content: center;
}

footer{
    background-size: cover;
    background-color: #35281C;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

h1{
    color: #626864;
    text-align: center;
    font-family: "Londrina Sketch";
    font-size: 5rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0rem;
}

h2{
    color: #626864;
    text-align: center;
    font-family: "Mansalva";
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0rem;
}

h3{
   color: #EDE6DE;
   font-family: "Love Ya Like A Sister"; 
   font-size: medium;
   text-align: center;
}

p{
    color:#5C5B57;
    font-family: "Chelsea Market"; 
}

.p-login{
    color:#ffffff93;
    font-family: "Chelsea Market"; 
    text-align: center;
    font-size: 0.80rem;
    padding-top: 2rem;
}

.p-footer{
   color: #EDE6DE;
   font-family: "Chelsea Market"; 
   text-align: center;
   font-size: 0.80rem;
}

.box{
    width: 100%;
    position: relative;
}

.box-input {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }

.input-border{
    position: absolute;
    bottom: 0;
    left: 14.5rem;
    width: 38%;
    height: 0.2rem;
    background-image: radial-gradient(circle, rgba(230,237,222,1) 0%, rgba(92,91,87,1) 100%);
}

.input{
    border-radius: 1rem;
    background: rgba(91, 162, 86, 0.50);
    color: #f6f3f0;
    font-family: "Chelsea Market"; 
    font-size:small;
    text-align: center;
    border:none;
    width: 18rem;
    height: 2rem;
}

.input:focus{
    border:none;
    outline: none;
}

.input-border-secondary{
    position: absolute;
    bottom: 0;
    left: 14.5rem;
    width: 38%;
    height: 0.2rem;
    background-image: radial-gradient(circle, rgba(92,91,87,1) 0%,  rgba(230,237,222,1) 100%);
}

.button-primary{
    position: relative;
    color: #fff;
    background-color: #b5c6a49d;
    font-family: "Chelsea Market";
    font-size: 0.8rem;
    padding: 2px 60px;
    border: solid #E2E8DA 0.3rem;
    border-radius: 10rem;
    transition: all 200ms;
    transform: translateX(0);
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.button-primary:hover{
    background-color: #ffffff00;
    color: #e2e8da;
    border: solid 5px #b5c6a4;
    font-size: 0.92rem;
}

.button-secondary{
    position: relative;
    color: #fff;
    background-color: #506b3393;
    font-family: "Chelsea Market";
    font-size: 0.8rem;
    padding: 2px 50px;
    border: solid #E2E8DA 0.3rem;
    border-radius: 10rem;
    transition: all 200ms;
    transform: translateY(0);
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.button-secondary:hover{
    background-color: #ffffff00;
    color: #809A65;
    border: solid 5px #809A65;
    font-size: 0.92rem;
}

.button-tertiary{
    color: #fff;
    background-color: #ffffff00;
    font-family: "Chelsea Market";
    font-size: 0.8rem;
    padding: 2px 60px;
    border: solid #E2E8DA 0.3rem;
    border-radius: 10rem;
    transition: all 200ms;
    transform: translateY(0);
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.button-tertiary:hover{
    background-color: #ffffff00;
    color: #fefffd;
    border: solid 5px #ffffff;
    font-size: 0.92rem;
}

.button-quaternary{
    position: relative;
    color: #fff;
    background-color:rgba(91, 162, 86, 0.50);
    font-family: "Chelsea Market";
    font-size: 0.8rem;
    padding: 2px 50px;
    border: solid #E2E8DA 0.3rem;
    border-radius: 10rem;
    transition: all 200ms;
    transform: translateY(0);
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.button-quaternary:hover{
    background-color: #ffffff00;
    color: #809A65;
    border: solid 5px #809A65;
    font-size: 0.83rem;
}

label{
    position: relative;
    background-color:rgba(91, 162, 86, 0.50);
    color: #f6f3f0;
    font-family: "Chelsea Market"; 
    font-size: 0.8rem;
    padding: 2px 50px;
    border: solid #E2E8DA 0.3rem;
    border-radius: 10rem;
}

.inputfile {
    /* visibility: hidden etc. wont work */
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    color: #f6f3f0;
    font-family: "Chelsea Market"; 
  }
  .inputfile:focus + label {
    /* keyboard navigation */
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
    color: #f6f3f0;
    font-family: "Chelsea Market"; 
    border:none;
    outline: none;
  }
  
  .inputfile + label * {
    pointer-events: none;
    color: #f6f3f0;
    font-family: "Chelsea Market"; 
  }